<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>tldraw</string>
  <key>CFBundleExecutable</key>
  <string>main.sh</string>
  <key>CFBundleIdentifier</key>
  <string>com.subtlegradient.tldraw</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>tldraw</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>CFBundleVersion</key>
  <string>0.1.0</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 subtleGradient</string>

  <key>WebappHost</key>
  <dict>
    <key>RunnerInstallDirectory</key>
    <string>Contents/Resources/Runner</string>
    <key>RunnerEntry</key>
    <string>src/index.ts</string>
    <key>RunnerArguments</key>
    <array/>
    <key>DocumentKindEnvironmentValue</key>
    <string>com.subtlegradient.tldraw-canvas</string>
    <key>LogName</key>
    <string>tldraw</string>
  </dict>

  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>com.subtlegradient.tldraw-canvas</string>
      <key>UTTypeDescription</key>
      <string>tldraw Canvas</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>com.apple.package</string>
        <string>public.directory</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>tldraw</string>
        </array>
      </dict>
    </dict>
  </array>

  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>tldraw Canvas</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>tldraw</string>
      </array>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSTypeIsPackage</key>
      <true/>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.subtlegradient.tldraw-canvas</string>
      </array>
      <key>NSDocumentClass</key>
      <string>WebappHostDocument</string>
    </dict>
  </array>
</dict>
</plist>
