<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>LazyGit</string>
  <key>CFBundleExecutable</key>
  <string>main.sh</string>
  <key>CFBundleIdentifier</key>
  <string>com.subtlegradient.LazyGit</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>LazyGit</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>CFBundleVersion</key>
  <string>0.1.0</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 subtleGradient</string>

  <key>TuiHost</key>
  <dict>
    <key>CommandName</key>
    <string>lazygit</string>
    <key>CommandArguments</key>
    <array>
      <string>--path</string>
      <string>{workingDirectory}</string>
    </array>
    <key>SupportCommandNames</key>
    <array>
      <string>git</string>
      <string>git-lfs</string>
    </array>
    <key>NixPackages</key>
    <array>
      <string>ttyd</string>
      <string>lazygit</string>
      <string>git</string>
      <string>git-lfs</string>
    </array>
    <key>LogName</key>
    <string>LazyGit</string>
    <key>WindowTitlePrefix</key>
    <string>LazyGit</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>LAZYGIT_APP_PACKAGE</key>
      <string>{documentPath}</string>
      <key>LAZYGIT_APP_WORKDIR</key>
      <string>{workingDirectory}</string>
    </dict>
  </dict>

  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>com.subtlegradient.lazygit</string>
      <key>UTTypeDescription</key>
      <string>LazyGit Folder</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>com.apple.package</string>
        <string>public.directory</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>lazygit</string>
        </array>
      </dict>
    </dict>
  </array>

  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>LazyGit Folder</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSTypeIsPackage</key>
      <true/>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.subtlegradient.lazygit</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
