<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppifyHost</key>
	<dict>
		<key>DocumentKindEnvironmentValue</key>
		<string>com.subtlegradient.webform</string>
		<key>DocumentMode</key>
		<string>fileDocument</string>
		<key>LogName</key>
		<string>WebFormer</string>
		<key>ServerArguments</key>
		<array/>
		<key>ServerExecutable</key>
		<string>main.sh</string>
		<key>ServerInstallDirectory</key>
		<string>Contents/Resources/AppServer</string>
		<key>WebViewDataStore</key>
		<string>nonPersistent</string>
		<key>WindowTitlePrefix</key>
		<string>WebFormer</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>WebFormer</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webform</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WebForm Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.subtlegradient.webform</string>
			</array>
			<key>NSDocumentClass</key>
			<string>AppifyHostDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>main.sh</string>
	<key>CFBundleIdentifier</key>
	<string>com.subtlegradient.webformer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WebFormer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 subtleGradient</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.html</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebForm Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.subtlegradient.webform</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webform</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
