<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>Hello</string>
  <key>CFBundleExecutable</key>
  <string>appify-host</string>
  <key>CFBundleIdentifier</key>
  <string>com.subtlegradient.hello</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Hello</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>CFBundleVersion</key>
  <string>0.1.0</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (c) 2026 subtleGradient</string>

  <key>AppifyHost</key>
  <dict>
    <key>DocumentMode</key>
    <string>contentPackage</string>
    <key>ServerInstallDirectory</key>
    <string>Contents/Resources/AppServer</string>
    <key>ServerExecutable</key>
    <string>main.sh</string>
    <key>ServerArguments</key>
    <array/>
    <key>DocumentKindEnvironmentValue</key>
    <string>com.subtlegradient.hello.hi</string>
    <key>LogName</key>
    <string>Hello</string>
    <key>WindowTitlePrefix</key>
    <string>Hello</string>
    <key>WebViewDataStore</key>
    <string>nonPersistent</string>
  </dict>

  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>com.subtlegradient.hello.hi</string>
      <key>UTTypeDescription</key>
      <string>Hello Document</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>com.apple.package</string>
        <string>public.directory</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>hi</string>
        </array>
      </dict>
    </dict>
  </array>

  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Hello Document</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>hi</string>
      </array>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSTypeIsPackage</key>
      <true/>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.subtlegradient.hello.hi</string>
      </array>
      <key>NSDocumentClass</key>
      <string>AppifyHostDocument</string>
    </dict>
  </array>
</dict>
</plist>
