<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>

        <key>CFBundleIconFile</key>
        <string>FrensDevtools.icns</string>

        <key>CFBundleName</key>
        <string>Frens Devtools</string>
        <key>CFBundleExecutable</key>
        <string>frens-devtools.appify.sh</string>
        <key>CFBundleIdentifier</key>
        <string>lol.frens.devtools</string>

        <key>CFBundleVersion</key>
        <string>1</string>
        <key>NSHumanReadableCopyright</key>
        <string>© Copyright 2024 Friendly Labs Inc.</string>
        <key>CFBundleShortVersionString</key>
        <string>0.0.1</string>

        <!-- Needed for Apache Callback -->
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSMainNibFile</key>
        <string>MainMenu</string>

    </dict>
</plist>
