<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppifyHost</key>
	<dict>
		<key>AboutNotice</key>
		<dict>
			<key>Links</key>
			<array>
				<dict>
					<key>Title</key>
					<string>lnav on GitHub</string>
					<key>URL</key>
					<string>https://github.com/tstack/lnav</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>lnav Hotkeys</string>
					<key>URL</key>
					<string>https://docs.lnav.org/en/latest/hotkeys.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>ttyd on GitHub</string>
					<key>URL</key>
					<string>https://github.com/tsl0922/ttyd</string>
				</dict>
			</array>
			<key>Message</key>
			<string>LogScope opens log-shaped files and shows lnav in a local WebKit terminal.</string>
		</dict>
		<key>DocumentKindEnvironmentValue</key>
		<string>com.subtlegradient.logscope.log</string>
		<key>DocumentMode</key>
		<string>fileDocument</string>
		<key>EnvironmentVariables</key>
		<dict>
			<key>LOGSCOPE_DOCUMENT</key>
			<string>{documentPath}</string>
		</dict>
		<key>FirstLaunchHelp</key>
		<dict>
			<key>URL</key>
			<string>https://docs.lnav.org/en/latest/hotkeys.html</string>
			<key>WindowTitle</key>
			<string>lnav Hotkeys</string>
		</dict>
		<key>LogName</key>
		<string>LogScope</string>
		<key>ServerArguments</key>
		<array/>
		<key>ServerExecutable</key>
		<string>main.sh</string>
		<key>ServerInstallDirectory</key>
		<string>Contents/Resources/AppServer</string>
		<key>StartupTimeoutSeconds</key>
		<integer>600</integer>
		<key>WebViewDataStore</key>
		<string>nonPersistent</string>
		<key>WindowTitlePrefix</key>
		<string>LogScope</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LogScope</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>log</string>
				<string>out</string>
				<string>err</string>
				<string>trace</string>
				<string>jsonl</string>
				<string>ndjson</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Log File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.subtlegradient.logscope.log</string>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>AppifyHostDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>main.sh</string>
	<key>CFBundleIdentifier</key>
	<string>com.subtlegradient.logscope</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LogScope</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 subtleGradient</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Log File</string>
			<key>UTTypeIdentifier</key>
			<string>com.subtlegradient.logscope.log</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>log</string>
					<string>out</string>
					<string>err</string>
					<string>trace</string>
					<string>jsonl</string>
					<string>ndjson</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
